Submits/*.sub
Submits/hadd/
SuccessFlags/
filenames/
outputs/*.root
AUXFiles/outputs/
ObsoleteCodes/
Utilities/UserSpecifics.cc
HistMaker/plots/
HistMaker/Submits/*.sub
*.err
*.out
*.log
*.pdf
*.tar
*.root
